<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.surecn.familymovie"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

<!--    <uses-feature android:name="android.hardware.type.television" android:required="true" ></uses-feature>-->

    <application
        android:name="com.surecn.familymovie.FMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_config"
        android:theme="@style/AppTheme">


        <activity android:name="com.surecn.familymovie.ui.MainActivity"
            android:screenOrientation="userLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.surecn.familymovie.ui.player.VideoActivity"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape"/>

        <activity
            android:name="com.surecn.familymovie.ui.browser.LanActivity"
            android:screenOrientation="userLandscape"/>

        <activity
            android:name="com.surecn.familymovie.ui.browser.SmbActivity"
            android:screenOrientation="userLandscape"/>

        <activity
            android:name="com.surecn.familymovie.ui.HistoryActivity"
            android:screenOrientation="userLandscape"/>

        <activity android:name="com.surecn.familymovie.ui.FavoriteActivity"
            android:screenOrientation="userLandscape"/>

        <activity
            android:name="com.surecn.familymovie.ui.browser.DiskActivity"
            android:screenOrientation="userLandscape"/>

        <activity
            android:name="com.surecn.familymovie.ui.browser.LocalFileActivity"
            android:screenOrientation="userLandscape"/>

        <activity
            android:name="com.surecn.familymovie.ui.SettingsActivity"
            android:screenOrientation="userLandscape"/>

        <activity android:name="com.surecn.familymovie.ui.live.LiveActivity"
            android:screenOrientation="userLandscape"/>

        <activity android:name="com.surecn.familymovie.ui.FeedbackActivity"
            android:screenOrientation="userLandscape"/>

        <provider
            android:authorities="com.surecn.familymovie"
            android:name="com.surecn.familymovie.data.AppProvider"
            android:exported="true"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.surecn.familymovie.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                />
        </provider>

        <service android:name="com.surecn.familymovie.common.StreamService"/>


        <!---->
        <receiver android:name="com.dangbei.euthenia.receiver.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.dangbei.euthenia.receiver.InstalledReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <meta-data android:value="znds" android:name="euthenia_channel"/>

        <provider
            android:name="com.dangbei.provider.DBFileProvider"
            android:authorities="${applicationId}.dbfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/dbprovider_paths" />
        </provider>
    </application>

</manifest>